<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> </head>
    <body>
        {% block form %}

            <h2>Plan lekcji UAM</h2>
            <form class="form-horizontal" type="get">
                <div class="form-group">
                    <label for="studia" class="col-sm-2 control-label">Studia</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="studia" name="studia" placeholder="Studia">
                            <option value="ZLMAT">ZLMAT</option>
                            <option value="ZL-INF">ZL-INF</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rokstudiow" class="col-sm-2 control-label">Rok studiów</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="rokstudiow" name="rokstudiow" placeholder="Rok studiow">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="y" class="col-sm-2 control-label">Data</label>
                    <div class="col-sm-10">
                        <input type="month" class="form-control" id="y" name="y" placeholder="rok">
                    </div>
                </div>

                <div class="radio">
                    <label class="col-sm-offset-2 control-label"><input type="radio" name="viewType" value="calendar" checked="checked">Kalendarz miesięczny</label>
                </div>
                <div class="radio">
                    <label class="col-sm-offset-2 control-label" ><input type="radio" name="viewType" value="list">Lista</label>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Wyślij</button>
                    </div>
                </div>
            </form>


            <div class="col-xs-12"><h2>Plan lekcji:</h2></div>

        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
