<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block stylesheets %}{% endblock %}
    {% if  app.request.query.get("templateType") != null %}
        {% set template = ('/css/' ~app.request.query.get("templateType")~'.css') %}
        <link href="{{ asset(template) }}" type="text/css" rel="stylesheet" />
    {% endif %}





</head>
<body>
{% block form %}
    <div class="col-xs-12">
        <div class="col-xs-10">
            <h2 style="margin-top: 56px;font-size: 60px;">Plan lekcji UAM - Studia Niestacjonarne</h2>
            </div>
        <div class="col-xs-2">
            <img src="http://vignette4.wikia.nocookie.net/poznan/images/8/88/Uam_logo.png/revision/latest?cb=20131021062929&path-prefix=pl" class="img-responsive"></div>
        </div>
<div class="headerBack col-xs-12">
    <form class="form-horizontal" type="get" class="col-xs-10">

            <p class="lineHeader"></p><br>
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <label for="studia" class="col-sm-4 control-label">Studia</label>
                <div class="col-sm-8">

                    <select class="form-control" id="studia" data-id="studia" name="studia" placeholder="Studia">

                        {% for key in headerData|keys %}
                            <option value="{{ key }}" {% if  app.request.query.get("studia") == key %} selected="selected" {% endif %}>{{ key }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <label for="rokstudiow" class="col-sm-4 control-label">Rok studiów</label>
                <div class="col-sm-8">
                    <select class="form-control" id="rokstudiow" {% if  app.request.query.get("studia") == null %} disabled {% endif %} name="rokstudiow" placeholder="Rok studiow" >
                        <option value="1" {% if  app.request.query.get("rokstudiow") == 1 %} selected="selected" {% endif %}>1</option>
                        <option value="2" {% if  app.request.query.get("rokstudiow") == 2 %} selected="selected" {% endif %}>2</option>
                        <option value="3" {% if  app.request.query.get("rokstudiow") == 3 %} selected="selected" {% endif %}>3</option>
                        <option value="4" {% if  app.request.query.get("rokstudiow") == 4 %} selected="selected" {% endif %}>4</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <label for="y" class="col-sm-4 control-label">Data</label>
                <div class="col-sm-8">
                    <input type="month" class="form-control" id="y" name="y" placeholder="rok" value="{{ app.request.query.get("y") }}">
                </div>
            </div>

            <div class="form-group col-xs-12">
                <label for="group" class="col-sm-4 control-label">Grupa (A,B,C...)</label>
                <div class="col-sm-8">
                    <select class="form-control" id="group" name="group" placeholder="Grupa" >
                        <option value="" {% if  app.request.query.get("group") == "" %} selected="selected" {% endif %}>--</option>
                        <option value="CA" {% if  app.request.query.get("group") == "CA" %} selected="selected" {% endif %}>CA</option>
                        <option value="CB" {% if  app.request.query.get("group") == "CB" %} selected="selected" {% endif %}>CB</option>
                        <option value="CC" {% if  app.request.query.get("group") == "CC" %} selected="selected" {% endif %}>CC</option>
                        <option value="WA" {% if  app.request.query.get("group") == "WA" %} selected="selected" {% endif %}>WA</option>
                    </select>

                </div>
            </div>

            <div class="form-group col-xs-12">
                <label for="subjectKey" class="col-sm-4 control-label">Kod przedmiotu</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="subjectKey" name="subjectKey" placeholder="Kod przedmiotu" value="{{ app.request.query.get("subjectKey") }}">
                </div>
            </div>
       </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
            <div class="radio col-xs-12">
                <p class=""><b>Widok:</b></p>
                </div>
            <div class="radio col-xs-12">
                <label class=" control-label"><input type="radio" name="viewType" value="calendar" {% if  app.request.query.get("viewType") == "calendar" %} checked="checked" {% endif %}>Kalendarz miesięczny</label>
            </div>
            <div class="radio col-xs-12">
                <label class=" control-label" ><input type="radio" name="viewType" value="list" {% if  app.request.query.get("viewType") == "list" %} checked="checked" {% endif %}>Lista</label>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="radio col-xs-12">
                <p class=""><b>Szablon:</b></p>
                </div>
                <div class="radio col-xs-12">
                    <label class=" control-label" ><input type="radio" name="templateType" value="default" {% if  app.request.query.get("templateType") == "default" %} checked="checked" {% endif %} >Domyślny</label>
                </div>
                <div class="radio col-xs-12">
                    <label class=" control-label" ><input type="radio" name="templateType" value="dark"  {% if  app.request.query.get("templateType") == "dark" %} checked="checked" {% endif %}>Ciemny</label>
                </div>
            </div>
      </div>
        <div class="form-group col-xs-12">
            <div class="col-sm-offset-2 col-sm-5">
                <button type="submit" class="btn btn-default">Wyślij</button>
            </div>
        </div>
    </form>
</div>
    <p class="lineHeader" style=""></p>
    <div class="col-xs-12"><h2>Plan lekcji: {{ app.request.query.get("y") }} </h2></div>


    <script>
        $("#studia").change(function() {
            var body ="";
            var studiaName = $('#studia').val();
            var studiaNameLoop;
            {% for route,paths in headerData %}
                {% for path in paths|keys %}
                    studiaNameLoop =  "{{ route }}";
                    if(studiaName == studiaNameLoop){
                         body +='<option value="{{ path|slice(4, 5)}}"  {% if  app.request.query.get("rokstudiow") ==  path|slice(4, 5) %} selected="selected" {% endif %}>{{ path|slice(4, 5)}}</option>';
                     }
                {% endfor %}
            {% endfor %}
            $("#rokstudiow").html(body).attr('disabled', false);
        });

        $( document ).ready(function() {
            var body ="";
            var studiaName = $('#studia').val();
            var studiaNameLoop;
            {% for route,paths in headerData %}
            {% for path in paths|keys %}
            studiaNameLoop =  "{{ route }}";
            if(studiaName == studiaNameLoop){
                body +='<option value="{{ path|slice(4, 5)}}"  {% if  app.request.query.get("rokstudiow") ==  path|slice(4, 5) %} selected="selected" {% endif %}>{{ path|slice(4, 5)}}</option>';
            }
            {% endfor %}
            {% endfor %}
            $("#rokstudiow").html(body).attr('disabled', false);
        });

    </script>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}

{% endblock %}
</body>
</html>
