{% extends 'default/header.html.twig' %}

{% block body %}

<table class="table table-striped calendarView" style="width:100%">
    <thead>
    <tr style="height:20px">
        <th >Poniedziałek</th>
        <th >Wtorek</th>
        <th >Środa</th>
        <th >Czwartek</th>
        <th >Piątek</th>
        <th >Sobota</th>
        <th >Niedziela</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% set numberEmpty = 0 %}
        {% for row in dataCalendar %}

            {% if row == '' %}
                {% set numberEmpty = numberEmpty+1 %}
             {% endif %}
        {% endfor %}
    {% for row in dataCalendar %}

        {% if row != '' and loop.index > numberEmpty %}
            {% if row|length > 0 %}
             <td>
                 <p class="dayNumber">{{ loop.index-numberEmpty }}</p>
               {% for value in row %}
                 {% set przedmiotString = '' ~ value.przedmiot  ~ '' %}
                 {%  if app.request.query.get("subjectKey") != null %}
                     {%  if app.request.query.get("group") != null %}
                         {%  if (app.request.query.get("group")) in przedmiotString %}
                             {%  if (app.request.query.get("subjectKey")) in przedmiotString %}
                                 <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                 <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                             {% else %}
                                 {%  if "WA" in przedmiotString and (app.request.query.get("subjectKey")) in przedmiotString %}
                                     <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                         <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                 {% endif %}
                             {% endif %}
                         {% else %}
                             {%  if "WA" in przedmiotString and (app.request.query.get("subjectKey")) in przedmiotString %}
                                 <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                     <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                             {% endif %}
                         {% endif %}
                     {% else %}
                         {%  if (app.request.query.get("subjectKey")) in przedmiotString %}
                             <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                 <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                         {% endif %}
                     {% endif %}
                 {% else %}
                        {%  if app.request.query.get("group") != null %}
                             {% set przedmiotString = '' ~ value.przedmiot  ~ '' %}

                             {%  if (app.request.query.get("group")) in przedmiotString %}
                                <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                             {% else %}
                                 {%  if "WA" in przedmiotString %}
                                     <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                         <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                 {% endif %}
                            {% endif %}
                        {% else %}
                            <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                            <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                         {% endif %}
                 {% endif %}
               {% endfor %}
             </td>
            {% else %}
                <td> <p class="dayNumber">{{ loop.index-numberEmpty }}</p></td>
            {% endif %}
        {% else %}
             <td></td>
        {% endif %}
    {% if loop.index is divisibleby(7) %}
        </tr><tr>
    {% endif %}
    {% if loop.last %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <input type="hidden" class="currentMonth" value='{{ currentMonth }}'>

{% endblock %}

{% block stylesheets %}
<style>
    tr{
        height:180px;
    }
    .small{
        font-size: 12px!important;
    }
</style>
{% endblock %}

 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('[data-toggle="popover"]').popover();
         });
         var d = new Date();
         var strDate =  d.getDate();
         var strMonth = d.getMonth()+1;
         var targetParam = $(".currentMonth").val();

        $(".dayNumber").each(function(){
            if($(this).html() == strDate && strMonth == targetParam){
                $(this).parent().css("background", "rgba(255, 255, 0, 0.47)");
            }
         });

     </script>
 {% endblock %}
