{% extends 'default/header.html.twig' %}

{% block body %}

    <div class="col-xs-12 listClass">
            {% set numberEmpty = 0 %}
            {% for row in dataCalendar %}

                {% if row == '' %}
                    {% set numberEmpty = numberEmpty+1 %}
                {% endif %}
            {% endfor %}

     {#       {% for row in dataCalendar %}
            {% if row != '' and loop.index > numberEmpty %}
                {% if row|length > 0 %}
                        <div class="col-sm-offset-3">
                        <div class="col-xs-12" style="margin-top:20px;">
                            <div class="col-xs-3">
                                   <h1 class="pull-right" style="margin-top:0;padding-top:0"> {{ loop.index-numberEmpty }} </h1>
                                </div>
                            <div class="col-xs-12 col-sm-5">
                            {% for value in row %}
                                <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                            {% endfor %}
                        </div>
                        </div>
                        </div>
                {% else %}

                {% endif %}
            {% else %}
            {% endif %}


        {% endfor %}#}

        {% for row in dataCalendar %}

            {% if row != '' and loop.index > numberEmpty %}
                {% if row|length > 0 %}
        <div class="col-sm-offset-3">
            <div class="col-xs-12" style="margin-top:20px;">
                <div class="col-xs-3">
                    <h1 class="pull-right" style="margin-top:0;padding-top:0"> {{ loop.index-numberEmpty }} </h1>
                </div>
                <div class="col-xs-12 col-sm-5">
                        {% for value in row %}
                            {% set przedmiotString = '' ~ value.przedmiot  ~ '' %}
                            {%  if app.request.query.get("subjectKey") != null %}
                                {%  if app.request.query.get("group") != null %}
                                    {%  if (app.request.query.get("group")) in przedmiotString %}
                                        {%  if (app.request.query.get("subjectKey")) in przedmiotString %}
                                            <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                                <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                        {% else %}
                                            {%  if "WA" in przedmiotString and (app.request.query.get("subjectKey")) in przedmiotString %}
                                                <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                                    <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {%  if "WA" in przedmiotString and (app.request.query.get("subjectKey")) in przedmiotString %}
                                            <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                                <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {%  if (app.request.query.get("subjectKey")) in przedmiotString %}
                                        <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                            <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {%  if app.request.query.get("group") != null %}
                                    {% set przedmiotString = '' ~ value.przedmiot  ~ '' %}

                                    {%  if (app.request.query.get("group")) in przedmiotString %}
                                        <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                            <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                    {% else %}
                                        {%  if "WA" in przedmiotString %}
                                            <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                                <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p class="small" data-toggle="popover" data-placement="top" data-content=" {{ value.przedmiot }} ">
                                        <b>{{ value.poczatek  }} - {{ value.koniec  }}</b>  {{ value.sala1}} {{ value.przedmiot}} </p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
                {% endif %}

            {% endif %}

        {% endfor %}


    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        tr{
            height:180px;
        }
        .small{
            font-size: 12px!important;
        }
    </style>
{% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('[data-toggle="popover"]').popover();
         });
     </script>
 {% endblock %}
