body{
    background: rgba(0, 0, 0, 0.73);
    color: #FFF;
}
.lineHeader {
    clear: both;
    background: rgba(222, 222, 222, 0.11);
    padding: 8px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #5D5D5D;
}

p.dayNumber {
    font-size: 22px;
}
.popover-content {
    padding: 9px 14px;
    color: black;
}